<% provide(:title, 'About Us') %>
    <h1>About DerpBack</h1>
    <p>
	Derpback comes in two complementary forms. You are free to use either one.
    </p>

	<ul>
		<li> <strong>Browser Plugin</strong><BR/>Add two HTML lines to your sources to get a "feedback" tab</li>
		<li> <strong>Backend for above</strong> By default the plugin sends the feedback information here. You can keep track of all feedback received either through this web interface, or via email.
			<ul><li>However, you are free to modify it to send the feedback data to your servers. <a href="">Here's how to do this.</a></li></ul>
		</li>
		
