<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	You can contact us through our feedback plugin. <span style="color:#fafafa">Kind of obvious, really</span>
</p>
<p class="center">
	<a href="#" onclick="$('#feedback-div').data('feedback').open()" class="btn btn-primary">What plugin?</a>
</p>
