<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
	<%= @f.feedback_type %><BR/>
	<%= @f.email %><BR/>
	<%= @f.fbid %><BR/>
	<%= @f.message %><BR/>
    </p>
  </body>
</html>
