<% provide(:title, 'All users') %>
<h1>All users</h1>

<h5>You are <%= "not" unless current_user.admin? %> an admin</h5>

<%= will_paginate %>

<ul class="users">
  	<%= render @users %>
</ul>

<%= will_paginate %>