<li> <Strong><%= domain_item.base_domain %> </strong> 
  <% if domain_item.confirmed? %>
  <span class="pull-right"> <a href="" class="btn btn-primary">View Feedback</a> </span>
  <% else %>
  <span class="pull-right"> <a href="" class="btn btn-danger">Delete</a> 
   <a href="" class="btn btn-primary">Confirm</a> </span>
  <% end %>
</li>
