<% if @unconfirmed_domains.any? %>
<table class="table">
	<%= render partial: 'shared/domain_item', collection: @unconfirmed_domains %>
</table>
<% else %>
<ol class="domains">
	<li class="center">You have not added any domains yet.</li>
</ol>
<% end %>
