<footer class="footer">
  <small>
	<%= link_to "DerpBack", about_path %>
     is a free service offered by <%= link_to "Tasinet Media", "http://tasinet.com" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
